* {
	text-align: center;
	font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

html {
	font-size: 0.9em;
	box-sizing: border-box;
}

body {
	min-width: 500px;
	color: #3f3636;
	background: #fbfafa;
}

@media (min-width: 768px) {
	.container {
		padding-top: 30px;
	}
}

h3 {
	font-size:25px;
	line-height:30px;
	text-align:left;
}

hr {
	border: 1px solid #efeaea;
}

.navbar {
	min-height: 50px;
	border-bottom: solid 1px #f9f9f9;
	margin-bottom: 0;
	position: relative;
}

.navbar-header {
	font-size: 13px;
	width: 100%;
	color: white;
	background: #363636;
}

.navbar-brand {
	float: left;
	height: 50px;
	line-height: 50px;
	padding: 0 30px;
	background: #485151;
}

.device-id-container {
	position: relative;
}

.connectionStatus {
	display: inline-block;
	font-size: 15px;
	color: #ffffff;
	height: 32px;
	line-height: 32px;
	padding: 0 20px;
	position: absolute;
	left: 250px;
	vertical-align: middle;
	background: #485151;
}

.connectionStatus.connected {
	background: #fc380a;
}

.navbar-title {
	float: left;
	height: 50px;
	line-height: 50px;
	padding: 0 30px;
}

.iot-connected-image {
	width: 30px;
}

.iot-topic-container {
	margin: -10px -20px 15px -20px;
	border-bottom: solid 1px #efeaea;
	padding-bottom: 10px;
	font-size: 12px;
	height: 50px;
	position: relative;
}

.iot-topic {
	position: absolute;
	left: 20px;
	top: 10px;
}

.iot-rate {
	position: absolute;
	right: 40px;
	top: 10px;
}

.iot-indicator {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #fc380a;
}

.iot-indicator.pub {
	background-color: #fc380a;
}

div.slider-track {
	background: #efeaea !important;
	border-radius: 3px;
	height: 6px !important;
}

.slider-handle {
	background-color: #fc380a !important;
	background-image: none !important;
	width: 16px !important;
	height: 16px !important;
}

code {
	margin-left: 5px;
	color: #3f3636;
	background-color: inherit;
}

.iot-stat {
	padding: 10px 0;
}

.iot-sensor-label {
	width: 25%;
	display: inline-block;
	color: #fc380a;
	text-align: left;
	font-size: 20px;
	line-height: 24px;
}

input {
	width: 65%;
}
.slider.slider-horizontal {
	width: 65%;
}

.iot-input-container {
	padding: 20px;
	border: solid 1px #efeaea;
	background: #ffffff;
}

.iot-controller-input {
	position: relative;
	height: 140px;
}

.iot-button {
	background-color: #ffffff;
	width: 40px;
	height: 40px;
	border: 1px solid #efeaea;
	color: #fc380a;
	font-size: 11px;
	line-height: 40px;
	position: absolute;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.iot-button:hover {
	color: #ffffff;
	opacity: 0.3;
	background-color: #fc380a;
}

#button-UP { left: 50px; top: 0; }
#button-DOWN { left: 50px; top: 100px; }
#button-LEFT { left: 0; top: 50px; }
#button-RIGHT { left: 100px; top: 50px; }
#button-SELECT { left: 50px; top: 50px; }
#button-A { line-height: 60px; width: 60px; height: 60px; right: 75px; top: 40px; }
#button-B { line-height: 60px; width: 60px; height: 60px; right: 0; top: 40px; }

.iot-button.iot-button-down {
	color: #ffffff;
	background-color: #fc380a;
	opacity: 1.0;
}

input {
	color: black;
}
